<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Latest blog posts written by <%= htmlWebpackPlugin.options.author %>."/>
    <meta name="keywords" content="James Robb, Blog, Latest, Programming, Data Structures, Algorithms, Politics, History"/>
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>" />
    <meta name="copyright" content="<%= htmlWebpackPlugin.options.author %>" />
    <meta name="robots" content="index,follow"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div id="app"></div>
        <noscript>
            <main class="container mt-4" role="alert">
                <div class="row">
                    <div class="col">
                        <article class="alert alert-warning">
                            <h1 class="alert-heading">Sorry about this!</h1>
                            <p>JavaScript is currently required to view the content of this blog listings page.</p>
                            <hr>
                            <p class="mb-0">Alternatively you could view my posts at: <a href="https://dev.to/jamesrweb" target="_blank" rel="noopener noreferrer" class="alert-link">My DEV.to blog overview page</a>.</p>
                        </article>
                    </div>
                </div>
            </main>
        </noscript>
    </body>
</html>